@include media(mobile) {

    .site-main {
        display: grid;
        grid-template: 30vw/ auto auto auto;
    }

    #main article {
        display: inline;
        border: 1px solid black;

    }
}

@include media(desktop) {

    .site-main {
        display: grid;
        grid-template: 50vw/ auto auto auto;
    }

    #main article {
        display: inline;
        border: 1px solid black;

    }
}
