

  
      @media only screen and (min-width: $query__mini)  {
          .site-main{
              display: grid;
              grid-template: 500px/ auto auto auto;
          }
          
          #main article{
              display: inline;
              border: 1px solid black;
              
          }
      }
  
      @media only screen and (min-width: $query__small)   {
          .site-main{
              display: grid;
          }
      }
  
  